
.header {
    background-color: #3f0000;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-background {
    background: linear-gradient(to bottom right, #fcff69, #ff8800);
    min-height: calc(100vh - 70px); /* adjust based on header height */
    color: rgb(0, 0, 0);
  }
  
  .nav {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-button {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: #3c4047;
  }
  